/**
 * @file
 * Groundwork Front-end Framework for Drupal
 * by JohnNoc (http://drupal.org/user/70994)
 * Learn more ~ http://groundwork.noceda.me
 *
 * This file contains the generated CSS from the default styles of the LESS
 * files. You are encouraged to use the LESS functionality of Mayumi to
 * maximize its potential.
 *
 * Please correct the theme path of your fonts below if you will use this file.
 *
 */

@font-face {
  font-family: "Noceda Font Pro";
  src: url('/sites/all/themes/mayumi/fonts/nocedafont-pro/noceda-font-pro-v1.eot');
  src: url('/sites/all/themes/mayumi/fonts/nocedafont-pro/noceda-font-pro-v1.eot?#iefix') format('embedded-opentype'), url('/sites/all/themes/mayumi/fonts/nocedafont-pro/noceda-font-pro-v1.woff') format('woff'), url('/sites/all/themes/mayumi/fonts/nocedafont-pro/noceda-font-pro-v1.ttf') format('truetype'), url('/sites/all/themes/mayumi/fonts/nocedafont-pro/noceda-font-pro-v1.svg#Noceda Font Pro') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cherry Swash";
  src: url('/sites/all/themes/mayumi/fonts/cherry-swash/cherryswash-regular-webfont.eot');
  src: url('/sites/all/themes/mayumi/fonts/cherry-swash/cherryswash-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/sites/all/themes/mayumi/fonts/cherry-swash/cherryswash-regular-webfont.woff') format('woff'), url('/sites/all/themes/mayumi/fonts/cherry-swash/cherryswash-regular-webfont.ttf') format('truetype'), url('/sites/all/themes/mayumi/fonts/cherry-swash/cherryswash-regular-webfont.svg#Cherry Swash') format('svg');
  font-weight: 400;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #efd3e7;
  color: #191919;
  font-family: "Noceda Font Pro", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.71428571430;
  margin: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
.lt-ie8 audio,
.lt-ie8 canvas,
.lt-ie8 video {
  display: inline;
  zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
  color: #9c0063;
  text-decoration: none;
}
a:visited {
  color: #9c0063;
}
a:hover {
  color: #e90094;
  outline: 0;
}
a:focus {
  outline: thin dotted;
}
a:active {
  outline: 0;
}
a:focus,
a:active,
a.active,
li a.active {
  color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cherry Swash", Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
h1,
h2,
h3,
h4 {
  margin: 24px 0;
}
h5,
h6 {
  margin: 12px 0;
}
h1 {
  font-size: 44px;
  font-size: 4.4rem;
}
h1.page-title {
  margin-top: 0;
}
h2 {
  font-size: 37px;
  font-size: 3.7rem;
}
h3 {
  border-bottom: 1px dotted #4c4c4c;
  font-size: 27px;
  font-size: 2.7rem;
}
h4 {
  font-size: 23px;
  font-size: 2.3rem;
}
h5 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
}
h6 {
  font-size: 14px;
  font-size: 1.4rem;
}
abbr[title] {
  border-bottom: 1px dotted #4c4c4c;
}
address {
  display: block;
  font-style: normal;
  margin-bottom: 24px;
  margin-top: 0;
}
blockquote {
  margin: 0 24px 24px;
}
blockquote p {
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 0;
  /* LTR */
  padding-left: 12px;
}
blockquote p:before,
blockquote p:after {
  content: "";
}
blockquote p small {
  display: block;
}
blockquote p small:before {
  content: '\2014 \00A0';
}
code {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
  font-size: 14px;
  font-size: 1.4rem;
}
del {
  text-decoration: line-through;
}
dfn {
  font-style: italic;
}
hr {
  border: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  clear: both;
  float: none;
  height: 1px;
  margin: 0 0 24px;
  width: 100%;
}
kbd {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
  font-size: 14px;
  font-size: 1.4rem;
}
mark {
  background: #ff0;
  color: #000;
}
p {
  margin: 0 0 24px 0;
}
p:last-child {
  margin-bottom: 0;
}
p a,
p a:visited {
  line-height: inherit;
}
pre {
  display: block;
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
samp {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
  font-size: 14px;
  font-size: 1.4rem;
}
strong,
b {
  font-weight: bold;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
q:before,
q:after {
  content: "";
}
small {
  font-size: 12px;
  font-size: 1.2rem;
}
sub,
sup {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  /* LTR */
  margin: 0 0 24px 24px;
  padding: 0;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
  padding: 0;
}
ul {
  list-style-type: disc;
}
.item-list ul {
  margin: 0 0 12px;
}
ul ul li {
  list-style-image: url("/misc/menu-leaf.png");
  list-style-type: square;
}
ol {
  list-style-type: decimal;
}
ol ol li {
  list-style-type: lower-alpha;
}
dl {
  /* LTR */
  margin: 0 0 24px 12px;
}
dl dt {
  font-weight: bold;
  margin: 0;
}
dl dd {
  /* LTR */
  margin: 0 0 0 24px;
}
img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 3px 12px;
  padding: 6px;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0;
}
button,
input {
  line-height: 24px;
  line-height: 2.40000000002rem;
}
button,
select {
  text-transform: uppercase;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  max-width: 100%;
}
input[type="checkbox"],
input[type="radio"],
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 24px;
  width: 100%;
  max-width: 100%;
}
th {
  font-weight: bold;
}
th,
td,
caption {
  padding: 0;
}
tfoot {
  font-style: italic;
}
caption {
  font-weight: bold;
}
.sticky-header th,
.sticky-table th {
  padding-right: 1em;
  text-align: left;
}
#page,
.wrapper {
  display: block;
  padding: 0;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  width: 100%;
}
#page:before,
#page:after,
.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
#page:after,
.wrapper:after {
  clear: both;
}
.lt-ie8 #page,
.lt-ie8 .wrapper {
  zoom: 1;
}
#topbar,
#header,
#main-menu,
#navigation,
#billboard,
#placard,
#main-container,
#supplement,
#appendix,
#rider,
#footer,
#secondary-menu,
#theme-attribution {
  margin: 0 12px;
  width: auto;
  min-width: 240px;
}
#topbar:before,
#topbar:after,
#header:before,
#header:after,
#main-menu:before,
#main-menu:after,
#navigation:before,
#navigation:after,
#billboard:before,
#billboard:after,
#placard:before,
#placard:after,
#main-container:before,
#main-container:after,
#supplement:before,
#supplement:after,
#appendix:before,
#appendix:after,
#rider:before,
#rider:after,
#footer:before,
#footer:after,
#secondary-menu:before,
#secondary-menu:after,
#theme-attribution:before,
#theme-attribution:after {
  content: "";
  display: table;
}
#topbar:after,
#header:after,
#main-menu:after,
#navigation:after,
#billboard:after,
#placard:after,
#main-container:after,
#supplement:after,
#appendix:after,
#rider:after,
#footer:after,
#secondary-menu:after,
#theme-attribution:after {
  clear: both;
}
.lt-ie8 #topbar,
.lt-ie8 #header,
.lt-ie8 #main-menu,
.lt-ie8 #navigation,
.lt-ie8 #billboard,
.lt-ie8 #placard,
.lt-ie8 #main-container,
.lt-ie8 #supplement,
.lt-ie8 #appendix,
.lt-ie8 #rider,
.lt-ie8 #footer,
.lt-ie8 #secondary-menu,
.lt-ie8 #theme-attribution {
  zoom: 1;
}
#node-aside {
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  /**
 * Style declarations for media with narrow width defined in app-settings.css.less
 */
  #topbar,
  #header,
  #main-menu,
  #navigation,
  #billboard,
  #placard,
  #main-container,
  #supplement,
  #appendix,
  #rider,
  #footer,
  #secondary-menu,
  #theme-attribution {
    width: 768px;
    min-width: 768px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  #branding,
  #header-annex,
  #main,
  #sidebar-first,
  #sidebar-second {
    display: inline-block;
    /* LTR */
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
  }
  .lt-ie8 #branding,
  .lt-ie8 #header-annex,
  .lt-ie8 #main,
  .lt-ie8 #sidebar-first,
  .lt-ie8 #sidebar-second {
    display: inline;
    zoom: 1;
  }
  .region-navigation {
    text-align: left;
  }
  .region-navigation ul {
    text-align: left;
  }
  #theme-attribution p,
  #main-menu-list,
  #secondary-menu-list,
  body.no-sidebars #main {
    width: 744px;
  }
  #branding {
    width: 488px;
  }
  #header-annex {
    width: 232px;
  }
  #sidebar-first {
    width: 232px;
  }
  #sidebar-second {
    width: 104px;
  }
  #node-aside {
    float: right;
    /* LTR */
    margin-left: 12px;
    width: 168px;
  }
  body.two-sidebars #main {
    width: 360px;
  }
  body.sidebar-first #main {
    width: 488px;
  }
  body.sidebar-second #main {
    width: 616px;
  }
}
@media only screen and (min-width: 960px) {
  #topbar,
  #header,
  #main-menu,
  #navigation,
  #billboard,
  #placard,
  #main-container,
  #supplement,
  #appendix,
  #rider,
  #footer,
  #secondary-menu,
  #theme-attribution {
    width: 960px;
    min-width: 960px;
  }
  #theme-attribution p,
  #main-menu-list,
  #secondary-menu-list,
  body.no-sidebars #main {
    width: 936px;
  }
  #branding {
    width: 616px;
  }
  #header-annex {
    width: 296px;
  }
  #sidebar-first {
    width: 296px;
  }
  #sidebar-second {
    width: 136px;
  }
  #node-aside {
    width: 216px;
  }
  body.two-sidebars #main {
    width: 456px;
  }
  body.sidebar-first #main {
    width: 616px;
  }
  body.sidebar-second #main {
    width: 776px;
  }
}
@media only screen and (min-width: 1152px) {
  #topbar,
  #header,
  #main-menu,
  #navigation,
  #billboard,
  #placard,
  #main-container,
  #supplement,
  #appendix,
  #rider,
  #footer,
  #secondary-menu,
  #theme-attribution {
    width: 1152px;
    min-width: 1152px;
  }
  #main-menu-list,
  #secondary-menu-list,
  #theme-attribution p,
  body.no-sidebars #main {
    width: 1128px;
  }
  #branding {
    width: 744px;
  }
  #header-annex {
    width: 360px;
  }
  #sidebar-first {
    width: 360px;
  }
  #sidebar-second {
    width: 168px;
  }
  #node-aside {
    width: 264px;
  }
  body.two-sidebars #main {
    width: 552px;
  }
  body.sidebar-first #main {
    width: 744px;
  }
  body.sidebar-second #main {
    width: 936px;
  }
}
#branding {
  text-align: center;
}
#site-logo {
  display: inline-block;
}
.lt-ie8 #site-logo {
  display: inline;
  zoom: 1;
}
#site-name {
  font-size: 44px;
  font-size: 4.4rem;
  font-style: normal;
  font-family: "Cherry Swash", Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
  line-height: 1;
  margin: 12px 0 0;
}
body.hide-sitename-branding #site-name {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
body.hide-sitename-branding #site-name.focusable:active,
body.hide-sitename-branding #site-name.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
body.hide-sitename-branding #site-name.focusable:active,
body.hide-sitename-branding #site-name.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
#site-slogan {
  font-size: 18px;
  font-size: 1.8rem;
}
#main-menu,
#secondary-menu,
#navigation {
  text-align: center;
}
#main-menu,
#navigation {
  margin-bottom: 24px;
}
ul.menu {
  margin-bottom: 0;
}
#topbar ul.menu,
#main-menu ul.menu,
#secondary-menu ul.menu,
#navigation ul.menu {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.lt-ie8 #topbar ul.menu,
.lt-ie8 #main-menu ul.menu,
.lt-ie8 #secondary-menu ul.menu,
.lt-ie8 #navigation ul.menu {
  display: inline;
  zoom: 1;
}
#topbar ul.menu li,
#main-menu ul.menu li,
#secondary-menu ul.menu li,
#navigation ul.menu li {
  display: inline-block;
  list-style: none;
  list-style-image: none;
  /* LTR */
  margin: 0 0 0 0;
  padding: 0;
  white-space: nowrap;
}
.lt-ie8 #topbar ul.menu li,
.lt-ie8 #main-menu ul.menu li,
.lt-ie8 #secondary-menu ul.menu li,
.lt-ie8 #navigation ul.menu li {
  display: inline;
  zoom: 1;
}
#topbar ul.menu li div.views-field-title,
#main-menu ul.menu li div.views-field-title,
#secondary-menu ul.menu li div.views-field-title,
#navigation ul.menu li div.views-field-title {
  line-height: 1em;
}
#topbar ul.menu li a,
#main-menu ul.menu li a,
#secondary-menu ul.menu li a,
#navigation ul.menu li a {
  display: block;
  margin: 0;
  padding-right: 12px;
  padding-left: 12px;
}
#main-menu ul.menu,
#secondary-menu ul.menu,
#navigation ul.menu {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
.item-list ul.pager {
  margin-top: 36px;
}
ul.primary {
  border-bottom: 1px solid #dcdcdc;
}
ul.primary li a {
  background: #f5f5f5;
  background: -moz-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#f5f5f5));
  background: -webkit-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);
  background: linear-gradient(to bottom,#ffffff 0%,#f5f5f5 100%);
  border-color: #ebebeb;
  border-style: solid solid none solid;
  border-width: 1px;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0;
  color: #666666;
  display: inline-block;
  font-weight: bold;
  height: auto;
  line-height: 24px;
  /* LTR */
  margin-right: 6px;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-shadow: 1px 1px 0px #ffffff;
}
.lt-ie8 ul.primary li a,
.ie9 ul.primary li a {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f5f5f5',GradientType=0);
}
.ie8 ul.primary li a {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f5f5f5',GradientType=0);
}
.lt-ie8 ul.primary li a {
  display: inline;
  zoom: 1;
}
ul.primary li.active a {
  background: #ffffff;
  background: -moz-linear-gradient(top,#ffffff 0%,#ffffff 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,#ffffff 0%,#ffffff 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#ffffff 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#ffffff 100%);
  background: linear-gradient(to bottom,#ffffff 0%,#ffffff 100%);
  border: 1px solid #ebebeb;
  border-bottom: 1px solid #ffffff;
}
.lt-ie8 ul.primary li.active a,
.ie9 ul.primary li.active a {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
}
.ie8 ul.primary li.active a {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
}
ul.primary li a:hover {
  background: #fafafa;
  background: -moz-linear-gradient(top,#ededed 0%,#fafafa 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ededed),color-stop(100%,#fafafa));
  background: -webkit-linear-gradient(top,#ededed 0%,#fafafa 100%);
  background: -o-linear-gradient(top,#ededed 0%,#fafafa 100%);
  background: -ms-linear-gradient(top,#ededed 0%,#fafafa 100%);
  background: linear-gradient(to bottom,#ededed 0%,#fafafa 100%);
  border-color: #ebebeb;
  border-bottom-color: #f2f2f2;
}
.lt-ie8 ul.primary li a:hover,
.ie9 ul.primary li a:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#fafafa',GradientType=0);
}
.ie8 ul.primary li a:hover {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#fafafa',GradientType=0);
}
.breadcrumb {
  clear: both;
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
}
div.messages {
  margin: 0 0 24px 0;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
.message-success,
.message-info,
.message-warning,
.message-danger {
  padding: 12px;
  margin-bottom: 24px;
}
.message-success p:last-child,
.message-success ul:last-child,
.message-info p:last-child,
.message-info ul:last-child,
.message-warning p:last-child,
.message-warning ul:last-child,
.message-danger p:last-child,
.message-danger ul:last-child {
  margin-bottom: 0;
}
.message-success {
  color: #15991b;
  background-color: #e5fbe6;
  border: 1px solid #8bef8f;
}
.message-info {
  color: #005e99;
  background-color: #ccebff;
  border: 1px solid #66c4ff;
}
.message-warning {
  color: #665b00;
  background-color: #fff180;
  border: 1px solid #ffe300;
}
.message-danger {
  color: #990909;
  background-color: #faa7a7;
  border: 1px solid #f77777;
}
.block {
  margin-bottom: 24px;
  width: 100%;
}
.block:before,
.block:after {
  content: "";
  display: table;
}
.block:after {
  clear: both;
}
.lt-ie8 .block {
  zoom: 1;
}
#node-aside .block {
  margin: 0;
}
h2.block-title {
  font-size: 23px;
  font-size: 2.3rem;
  margin-top: 0;
  margin-bottom: 12px;
}
#block-system-main {
  padding: 0;
}
#block-user-login .form-item-name,
#block-user-login .form-item-pass {
  margin: 12px 0;
  width: 100%;
  max-width: 100%;
}
#block-user-login .form-item-name input,
#block-user-login .form-item-pass input {
  width: 100%;
}
#block-user-login .form-item-name label,
#block-user-login .form-item-pass label {
  line-height: 24px;
  line-height: 2.40000000002rem;
  width: 100%;
}
#block-user-login .item-list li {
  /* LTR */
  margin-left: 0;
}
#block-search-form {
  text-align: center;
}
#block-search-form form {
  display: inline-block;
}
.lt-ie8 #block-search-form form {
  display: inline;
  zoom: 1;
}
#block-system-powered-by {
  margin-bottom: 0;
}
.book-navigation {
  clear: both;
  padding-top: 24px;
}
#comments {
  clear: both;
  margin-top: 24px;
}
#comments .comment {
  margin-bottom: 24px;
  padding: 12px;
}
#comments .comment header {
  margin-bottom: 0;
}
#comments .comment .comment-title {
  margin-top: 0;
}
#comments .comment .comment-author {
  font-weight: bold;
}
#comments .comment .comment-date {
  font-size: 12px;
  font-size: 1.2rem;
}
#comments .comment .content,
#comments .comment footer {
  clear: both;
  margin-top: 12px;
}
#comments .comment .new {
  color: #d693bd;
  /* LTR */
  margin-left: 12px;
  text-transform: capitalize;
}
#comments .comment ul.inline {
  /* LTR */
  margin-right: 0;
}
#comments .comment .user-picture img {
  /* LTR */
  float: right;
  height: auto;
  max-height: 48px;
  margin-left: 12px;
  max-width: 48px;
}
#comments .comment footer p {
  margin-bottom: 0;
}
#comments .comment footer .permalink {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
}
.node {
  margin-bottom: 12px;
}
.node header {
  clear: both;
  margin-bottom: 24px;
}
.node .submitted {
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 12px;
}
.node .node-content {
  margin-bottom: 12px;
}
.node h2.node-title {
  clear: both;
  margin-bottom: 12px;
}
.node .user-picture img {
  /* LTR */
  float: left;
  height: auto;
  max-height: 20px;
  max-height: 2rem;
  margin-right: 6px;
  max-width: 24px;
}
.node footer {
  margin-top: 12px;
}
.node ul.links {
  /* LTR */
  margin-left: 0;
}
.node ul.links li.first {
  /* LTR */
  padding-left: 0;
}
.node-teaser {
  margin-bottom: 12px;
}
.node-teaser:last-child {
  margin-bottom: 0;
}
.profile {
  margin: 12px 0;
}
.profile h3 {
  border: none;
}
.profile dt {
  margin-bottom: 0;
}
.profile dd {
  margin-bottom: 12px;
}
ol.search-results {
  margin: 0;
}
h3.search-result-title {
  border-bottom: none;
  margin-bottom: 0;
  text-decoration: underline;
}
h3.search-result-title a {
  text-decoration: underline;
}
p.search-snippet {
  margin-bottom: 0;
}
p.search-info {
  font-style: italic;
}
.views-view-grid.cols-2 td {
  vertical-align: top;
  width: 50%;
}
.views-view-grid.cols-3 td {
  vertical-align: top;
  width: 33%;
}
.views-view-grid.cols-4 td {
  vertical-align: top;
  width: 25%;
}
.views-view-grid.cols-5 td {
  vertical-align: top;
  width: 20%;
}
html body.admin-menu {
  margin-top: 0 !important;
  padding-top: 29px !important;
}
#admin-menu {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
a.feed-icon img {
  float: right;
  margin-bottom: 24px;
}
.not-logged-in .contextual-links-wrapper {
  display: none;
}
div.vertical-tabs {
  border-left-color: transparent;
}
div.vertical-tabs ul.vertical-tabs-list li {
  background: #fafafa;
  background: -moz-linear-gradient(top,#ffffff 0%,#fafafa 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#fafafa));
  background: -webkit-linear-gradient(top,#ffffff 0%,#fafafa 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#fafafa 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#fafafa 100%);
  background: linear-gradient(to bottom,#ffffff 0%,#fafafa 100%);
  font-size: 14px;
  font-size: 1.4rem;
}
.lt-ie8 div.vertical-tabs ul.vertical-tabs-list li,
.ie9 div.vertical-tabs ul.vertical-tabs-list li {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#fafafa',GradientType=0);
}
.ie8 div.vertical-tabs ul.vertical-tabs-list li {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#fafafa',GradientType=0);
}
div.vertical-tabs ul.vertical-tabs-list li.selected {
  background: transparent;
}
div.vertical-tabs ul.vertical-tabs-list li.summary {
  font-size: 12px;
  font-size: 1.2rem;
}
div.vertical-tabs ul.vertical-tabs-list li.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
div.vertical-tabs ul.vertical-tabs-list li.offscreen.focusable:active,
div.vertical-tabs ul.vertical-tabs-list li.offscreen.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
div.vertical-tabs ul.vertical-tabs-list li.offscreen.focusable:active,
div.vertical-tabs ul.vertical-tabs-list li.offscreen.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
div.vertical-tabs ul.vertical-tabs-list li strong {
  color: #666666;
}
div.vertical-tabs ul.vertical-tabs-list li.selected strong {
  color: #4d4d4d;
}
div.vertical-tabs .vertical-tabs-panes .book-outline-form .form-item {
  margin-top: 24px;
}
small.block-html-id {
  color: #666666;
}
#theme-attribution-wrapper {
  padding: 3px 0;
}
#theme-attribution-wrapper #theme-attribution {
  color: #aaa;
  font-size: 10px;
  font-size: 1rem;
  line-height: 12px;
  line-height: 1.2rem;
}
#theme-attribution-wrapper #theme-attribution p {
  text-align: center;
}
#theme-attribution-wrapper #theme-attribution p a {
  color: #999;
}
.center {
  text-align: center;
}
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
@media only screen and (min-width: 768px) {
  #site-logo {
    float: left;
    /* LTR */
    margin-right: 12px;
  }
  #site-name,
  #site-slogan {
    /* LTR */
    text-align: left;
  }
  .block {
    display: inline-block;
    /* LTR */
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
  }
  .lt-ie8 .block {
    display: inline;
    zoom: 1;
  }
  .region-header-annex .block-solo {
    margin-bottom: 0;
  }
  .block-region-header-annex,
  .block-region-content,
  .block-region-sidebar-first,
  .block-region-sidebar-second,
  .block-region-highlighted {
    margin-left: 0;
    margin-right: 0;
  }
  .block-region-topbar,
  .block-region-navigation,
  .block-region-billboard,
  .block-region-placard,
  .block-region-supplement,
  .block-region-appendix,
  .block-region-rider,
  .block-region-footer {
    width: 744px;
  }
  #main-menu ul.menu,
  #secondary-menu ul.menu,
  #navigation ul.menu {
    margin-left: 12px;
    margin-right: 12px;
  }
  .node-article .field-name-field-image img {
    float: left;
    margin: 0 12px 0 0;
  }
  body.two-sidebars #main .node-article .field-name-field-image img {
    max-width: 168px;
  }
  body.sidebar-first #main  .node-article .field-name-field-image img {
    max-width: 296px;
  }
  body.sidebar-second #main  .node-article .field-name-field-image img {
    max-width: 424px;
  }
  .node .field-name-field-tags {
    clear: both;
    margin: 0 0 24px;
  }
  .node .field-name-field-tags .field-item {
    margin: 0 12px 0 0;
  }
  .node .field-name-field-tags div {
    display: inline;
  }
  body.page-admin-structure-block-demo .block-region {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 24px;
  }
  body.page-admin-structure-block-demo .region-header-annex .block-region,
  body.page-admin-structure-block-demo #main .block-region,
  body.page-admin-structure-block-demo .region-sidebar-first .block-region,
  body.page-admin-structure-block-demo .region-sidebar-second .block-region,
  body.page-admin-structure-block-demo .region-highlighted .block-region {
    margin-left: 0;
    margin-right: 0;
  }
  a.block-demo-backlink,
  a.block-demo-backlink:link,
  a.block-demo-backlink:visited {
    left: auto;
    /* LTR */
    right: 24px;
  }
}
@media only screen and (min-width: 960px) {
  .block-region-topbar,
  .block-region-navigation,
  .block-region-billboard,
  .block-region-placard,
  .block-region-supplement,
  .block-region-appendix,
  .block-region-rider,
  .block-region-footer {
    width: 936px;
  }
  body.two-sidebars #main .node-article .field-name-field-image img {
    max-width: 216px;
  }
  body.sidebar-first #main  .node-article .field-name-field-image img {
    max-width: 376px;
  }
  body.sidebar-second #main  .node-article .field-name-field-image img {
    max-width: 536px;
  }
}
@media only screen and (min-width: 1152px) {
  .block-region-topbar,
  .block-region-navigation,
  .block-region-billboard,
  .block-region-placard,
  .block-region-supplement,
  .block-region-appendix,
  .block-region-rider,
  .block-region-footer {
    width: 1128px;
  }
  body.two-sidebars #main .node-article .field-name-field-image img {
    max-width: 264px;
  }
  body.sidebar-first #main  .node-article .field-name-field-image img {
    max-width: 456px;
  }
  body.sidebar-second #main  .node-article .field-name-field-image img {
    max-width: 648px;
  }
}
body {
  background: #4d1d3b;
}
#page {
  background: #efd3e7;
}
h3 {
  border-bottom: 1px dotted #511d42;
}
fieldset {
  border: 1px solid #d488be;
}
thead th {
  background: #eac4df;
  border-bottom: 1px solid #d488be;
  border-top: #d488be;
}
tr.odd {
  background: #fdf8fb;
}
tr.even {
  background: #f6e6f1;
}
.sticky-header th,
.sticky-table th {
  border-bottom: 3px solid #ffffff;
}
abbr[title] {
  border-bottom: 1px dotted #999999;
}
blockquote {
  color: #4c4c4c;
  border-left: 3px solid #4c4c4c;
}
hr {
  background: #191919;
}
mark {
  background: #ffffff;
  color: #000000;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
button,
input.form-submit,
a.button {
  background: #ebebeb;
  background: -moz-linear-gradient(top,#ffffff 0%,#ebebeb 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#ebebeb));
  background: -webkit-linear-gradient(top,#ffffff 0%,#ebebeb 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#ebebeb 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#ebebeb 100%);
  background: linear-gradient(to bottom,#ffffff 0%,#ebebeb 100%);
  border: 2px solid #d9d9d9;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  color: #666666;
  text-shadow: 1px 1px 0px #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-style: normal;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  margin-right: 6px;
  text-transform: uppercase;
}
.lt-ie8 input[type="button"],
.ie9 input[type="button"],
.lt-ie8 input[type="submit"],
.ie9 input[type="submit"],
.lt-ie8 input[type="reset"],
.ie9 input[type="reset"],
.lt-ie8 input[type="file"],
.ie9 input[type="file"],
.lt-ie8 button,
.ie9 button,
.lt-ie8 input.form-submit,
.ie9 input.form-submit,
.lt-ie8 a.button,
.ie9 a.button {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ebebeb',GradientType=0);
}
.ie8 input[type="button"],
.ie8 input[type="submit"],
.ie8 input[type="reset"],
.ie8 input[type="file"],
.ie8 button,
.ie8 input.form-submit,
.ie8 a.button {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ebebeb',GradientType=0);
}
.lt-ie8 input[type="button"],
.lt-ie8 input[type="submit"],
.lt-ie8 input[type="reset"],
.lt-ie8 input[type="file"],
.lt-ie8 button,
.lt-ie8 input.form-submit,
.lt-ie8 a.button {
  display: inline;
  zoom: 1;
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="file"]:active,
button:active,
input.form-submit:active,
a.button:active {
  position: relative;
  top: 1px;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="file"]:hover,
button:hover,
input.form-submit:hover,
a.button:hover {
  background: #f2f2f2;
  background: -moz-linear-gradient(top,#e0e0e0 0%,#f2f2f2 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e0e0e0),color-stop(100%,#f2f2f2));
  background: -webkit-linear-gradient(top,#e0e0e0 0%,#f2f2f2 100%);
  background: -o-linear-gradient(top,#e0e0e0 0%,#f2f2f2 100%);
  background: -ms-linear-gradient(top,#e0e0e0 0%,#f2f2f2 100%);
  background: linear-gradient(to bottom,#e0e0e0 0%,#f2f2f2 100%);
}
.lt-ie8 input[type="button"]:hover,
.ie9 input[type="button"]:hover,
.lt-ie8 input[type="submit"]:hover,
.ie9 input[type="submit"]:hover,
.lt-ie8 input[type="reset"]:hover,
.ie9 input[type="reset"]:hover,
.lt-ie8 input[type="file"]:hover,
.ie9 input[type="file"]:hover,
.lt-ie8 button:hover,
.ie9 button:hover,
.lt-ie8 input.form-submit:hover,
.ie9 input.form-submit:hover,
.lt-ie8 a.button:hover,
.ie9 a.button:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0',endColorstr='#f2f2f2',GradientType=0);
}
.ie8 input[type="button"]:hover,
.ie8 input[type="submit"]:hover,
.ie8 input[type="reset"]:hover,
.ie8 input[type="file"]:hover,
.ie8 button:hover,
.ie8 input.form-submit:hover,
.ie8 a.button:hover {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0',endColorstr='#f2f2f2',GradientType=0);
}
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  background: #f9eff5;
  background: -moz-linear-gradient(top,#ffffff 0%,#f9eff5 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#f9eff5));
  background: -webkit-linear-gradient(top,#ffffff 0%,#f9eff5 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#f9eff5 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#f9eff5 100%);
  background: linear-gradient(to bottom,#ffffff 0%,#f9eff5 100%);
  color: #000000;
}
.lt-ie8 input[type="date"],
.ie9 input[type="date"],
.lt-ie8 input[type="datetime"],
.ie9 input[type="datetime"],
.lt-ie8 input[type="datetime-local"],
.ie9 input[type="datetime-local"],
.lt-ie8 input[type="email"],
.ie9 input[type="email"],
.lt-ie8 input[type="month"],
.ie9 input[type="month"],
.lt-ie8 input[type="number"],
.ie9 input[type="number"],
.lt-ie8 input[type="password"],
.ie9 input[type="password"],
.lt-ie8 input[type="search"],
.ie9 input[type="search"],
.lt-ie8 input[type="tel"],
.ie9 input[type="tel"],
.lt-ie8 input[type="text"],
.ie9 input[type="text"],
.lt-ie8 input[type="time"],
.ie9 input[type="time"],
.lt-ie8 input[type="url"],
.ie9 input[type="url"],
.lt-ie8 input[type="week"],
.ie9 input[type="week"],
.lt-ie8 select,
.ie9 select,
.lt-ie8 textarea,
.ie9 textarea {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f9eff5',GradientType=0);
}
.ie8 input[type="date"],
.ie8 input[type="datetime"],
.ie8 input[type="datetime-local"],
.ie8 input[type="email"],
.ie8 input[type="month"],
.ie8 input[type="number"],
.ie8 input[type="password"],
.ie8 input[type="search"],
.ie8 input[type="tel"],
.ie8 input[type="text"],
.ie8 input[type="time"],
.ie8 input[type="url"],
.ie8 input[type="week"],
.ie8 select,
.ie8 textarea {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f9eff5',GradientType=0);
}
#topbar-wrapper {
  background: #ba4990;
}
#header-wrapper {
  background: #d693bd;
  border-top: 3px dashed #f4e2ef;
  border-bottom: 3px dashed #f4e2ef;
}
#navigation-wrapper {
  border-top: 12px solid #ba4990;
}
#rider-wrapper {
  background: #d693bd;
  border-top: 3px dashed #f4e2ef;
}
#footer-wrapper,
#secondary-menu-wrapper,
#theme-attribution-wrapper {
  background: #4d1d3b;
}
#footer-wrapper {
  border-top: 3px dashed #ba4990;
}
#rider,
#footer {
  padding-top: 12px;
}
nav#secondary-menu,
#theme-attribution {
  color: #7f7f7f;
}
nav#secondary-menu a,
#theme-attribution a {
  color: #efd3e7;
}
nav#secondary-menu a:hover,
#theme-attribution a:hover {
  color: #ffffff;
}
#main-container {
  background: #ffffff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px -1px 6px #ba4990, 1px 0px 6px #ba4990, 0px 1px 6px #ba4990, -1px 0px 6px #ba4990;
  -moz-box-shadow: 0px -1px 6px #ba4990, 1px 0px 6px #ba4990, 0px 1px 6px #ba4990, -1px 0px 6px #ba4990;
  box-shadow: 0px -1px 6px #ba4990, 1px 0px 6px #ba4990, 0px 1px 6px #ba4990, -1px 0px 6px #ba4990;
  margin-bottom: 24px;
  padding-top: 12px;
}
#main {
  margin-left: 12px;
  margin-right: 12px;
}
#branding {
  margin-bottom: 0;
  padding: 24px 0;
}
#header-annex {
  padding-top: 24px;
}
#site-name a {
  color: #ffffff;
}
#main-menu ul.menu a,
#navigation ul.menu a {
  padding-top: 6px;
  padding-bottom: 6px;
}
.search-results .search-url {
  color: #15991b;
}
.search-results .search-info {
  color: #000000;
}
.vertical-tab-button-error a {
  border: 1px solid #990909;
}
.block {
  padding: 12px;
}
.block h2.block-title:before {
  content: "\e0a4";
  font-family: "Noceda Font Pro";
  speak: none;
}
.block h2.block-title:before {
  content: "\e0a4";
  font-family: "Noceda Font Pro";
  speak: none;
}
.block h2.block-title:before {
  color: #ba4990;
  padding-right: 6px;
}
#topbar .block {
  color: #000000;
}
#header-annex .block {
  text-align: center;
}
#header-annex .block,
#billboard .block,
#sidebar-first .block,
#supplement .block,
#appendix .block,
.block.block-region-highlighted {
  background: #f2ddea;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px -1px 6px #d693bd, 1px 0px 6px #d693bd, 0px 1px 6px #d693bd, -1px 0px 6px #d693bd;
  -moz-box-shadow: 0px -1px 6px #d693bd, 1px 0px 6px #d693bd, 0px 1px 6px #d693bd, -1px 0px 6px #d693bd;
  box-shadow: 0px -1px 6px #d693bd, 1px 0px 6px #d693bd, 0px 1px 6px #d693bd, -1px 0px 6px #d693bd;
}
#billboard .block,
.block.block-region-highlighted,
#supplement .block {
  border: 3px dashed #d693bd;
}
#sidebar-second .block {
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  font-size: 1.2rem;
}
#sidebar-second .block h2.block-title {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
}
#rider .block h2.block-title:before {
  color: #4d1d3b;
}
#topbar .block a,
#rider .block a,
#footer .block a {
  color: #efd3e7;
}
#topbar .block a:hover,
#rider .block a:hover,
#footer .block a:hover {
  color: #ffffff;
}
#footer .block {
  color: #7f7f7f;
  font-size: 12px;
  font-size: 1.2rem;
}
#footer .block h2.block-title {
  font-size: 14px;
  font-size: 1.4rem;
}
#node-aside .block {
  border-bottom: 3px dashed #d693bd;
  border-top: 3px dashed #d693bd;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
#node-aside .block h2.block-title {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
}
#block-system-main {
  background: transparent;
  margin-bottom: 0;
}
#block-user-login label {
  font-weight: 500;
}
#block-user-login .form-item-name input {
  background: url(/sites/all/themes/mayumi/images/login-sprite.png) no-repeat 0 0 #ffffff;
  padding-left: 20px;
}
#block-user-login .form-item-pass input {
  background: url(/sites/all/themes/mayumi/images/login-sprite.png) no-repeat 0 -24px #ffffff;
  padding-left: 20px;
}
#block-user-login .item-list ul li {
  list-style-position: inside;
}
#topbar #block-user-login {
  display: inline;
}
#topbar #block-user-login .form-item-name,
#topbar #block-user-login .form-item-pass {
  /* LTR */
  float: left;
  margin: 0 6px 0 0;
  width: 25%;
}
#topbar #block-user-login .form-item-name label,
#topbar #block-user-login .form-item-pass label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#topbar #block-user-login .form-item-name label.focusable:active,
#topbar #block-user-login .form-item-name label.focusable:focus,
#topbar #block-user-login .form-item-pass label.focusable:active,
#topbar #block-user-login .form-item-pass label.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
#topbar #block-user-login .form-item-name label.focusable:active,
#topbar #block-user-login .form-item-name label.focusable:focus,
#topbar #block-user-login .form-item-pass label.focusable:active,
#topbar #block-user-login .form-item-pass label.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
#topbar #block-user-login .form-item-name input,
#topbar #block-user-login .form-item-pass input {
  /* LTR */
  float: left;
  width: auto;
}
#topbar #block-user-login .item-list ul li {
  font-size: 0.833em;
  list-style: none;
  list-style-image: none;
}
#topbar #block-user-login .form-actions {
  /* LTR */
  float: left;
  margin: 0 0.5em 0 0;
}
#topbar #block-user-login .form-item-openid-identifier,
#topbar #block-user-login .item-list ul.openid-links {
  display: none !important;
  visibility: hidden;
}
#topbar #block-user-login .item-list {
  /* LTR */
  float: left;
  font-size: 0.833em;
  margin-right: 0.5em;
  text-align: left;
}
#topbar #block-user-login .item-list ul {
  padding: 0;
  margin-bottom: 0;
}
#topbar #block-user-login .item-list ul li {
  line-height: 1.5em;
}
#topbar #block-user-login .item-list ul li.first.last {
  line-height: 3em;
}
#topbar #block-system-user-menu {
  text-align: center;
}
#search-block-form .form-submit {
  font-family: "Noceda Font Pro";
}
#search-block-form input[type="search"] {
  width: 70%;
}
.no-h-padding {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 768px) {
  #topbar .block {
    margin-bottom: 0;
  }
  #header-annex .block {
    text-align: left;
  }
  #topbar #block-system-user-menu {
    text-align: left;
  }
}
.without-padding {
  padding: 0;
}

.gwikon-groundwork:before, .gwikon-drupal:before, .gwikon-behance:before, .gwikon-blogger:before, .gwikon-delicious:before, .gwikon-deviantart:before, .gwikon-digg:before, .gwikon-dribbble:before, .gwikon-facebook:before, .gwikon-flickr:before, .gwikon-foursquare:before, .gwikon-friendfeed:before, .gwikon-github:before, .gwikon-googleplus:before, .gwikon-instagram:before, .gwikon-lastfm:before, .gwikon-linkedin:before, .gwikon-myspace:before, .gwikon-path:before, .gwikon-picasa:before, .gwikon-pinterest:before, .gwikon-reddit:before, .gwikon-skype:before, .gwikon-slideshare:before, .gwikon-soundcloud:before, .gwikon-spotify:before, .gwikon-stackoverflow:before, .gwikon-stumbleupon:before, .gwikon-tumblr:before, .gwikon-twitter:before, .gwikon-vimeo:before, .gwikon-vkontakte:before, .gwikon-w3c:before, .gwikon-youtube:before, .gwikon-git:before, .gwikon-css:before, .gwikon-cc:before, .gwikon-address-book:before, .gwikon-address-book-alt:before, .gwikon-adjust:before, .gwikon-adjust-alt:before, .gwikon-adult:before, .gwikon-airplane:before, .gwikon-align-center:before, .gwikon-align-justify:before, .gwikon-align-left:before, .gwikon-align-right:before, .gwikon-arrow-down:before, .gwikon-arrow-left:before, .gwikon-arrow-right:before, .gwikon-arrow-up:before, .gwikon-asl:before, .gwikon-asterisk:before, .gwikon-backward:before, .gwikon-ban-circle:before, .gwikon-barcode:before, .gwikon-basket:before, .gwikon-basket-alt:before, .gwikon-bell:before, .gwikon-blind:before, .gwikon-bold:before, .gwikon-book:before, .gwikon-bookmark:before, .gwikon-bookmark-empty:before, .gwikon-braille:before, .gwikon-briefcase:before, .gwikon-broom:before, .gwikon-brush:before, .gwikon-bulb:before, .gwikon-bullhorn:before, .gwikon-calendar:before, .gwikon-calendar-sign:before, .gwikon-camera:before, .gwikon-car:before, .gwikon-caret-down:before, .gwikon-caret-left:before, .gwikon-caret-right:before, .gwikon-caret-up:before, .gwikon-certificate:before, .gwikon-check:before, .gwikon-check-empty:before, .gwikon-chevron-down:before, .gwikon-chevron-left:before, .gwikon-chevron-right:before, .gwikon-chevron-up:before, .gwikon-child:before, .gwikon-circle-arrow-down:before, .gwikon-circle-arrow-left:before, .gwikon-circle-arrow-right:before, .gwikon-circle-arrow-up:before, .gwikon-cloud:before, .gwikon-cloud-alt:before, .gwikon-code:before, .gwikon-code-alt:before, .gwikon-cog:before, .gwikon-cog-alt:before, .gwikon-cogs:before, .gwikon-comment:before, .gwikon-comment-alt:before, .gwikon-compass:before, .gwikon-compass-alt:before, .gwikon-credit-card:before, .gwikon-dashboard:before, .gwikon-download:before, .gwikon-download-alt:before, .gwikon-edit:before, .gwikon-eject:before, .gwikon-envelope:before, .gwikon-envelope-alt:before, .gwikon-error:before, .gwikon-error-alt:before, .gwikon-exclamation-sign:before, .gwikon-eye-close:before, .gwikon-eye-open:before, .gwikon-facetime-video:before, .gwikon-fast-backward:before, .gwikon-fast-forward:before, .gwikon-female:before, .gwikon-file:before, .gwikon-file-alt:before, .gwikon-file-edit:before, .gwikon-file-edit-alt:before, .gwikon-file-new:before, .gwikon-file-new-alt:before, .gwikon-film:before, .gwikon-filter:before, .gwikon-fire:before, .gwikon-flag:before, .gwikon-flag-alt:before, .gwikon-folder:before, .gwikon-folder-close:before, .gwikon-folder-open:before, .gwikon-folder-sign:before, .gwikon-font:before, .gwikon-fontsize:before, .gwikon-fork:before, .gwikon-forward:before, .gwikon-forward-alt:before, .gwikon-fullscreen:before, .gwikon-gift:before, .gwikon-glass:before, .gwikon-glasses:before, .gwikon-globe:before, .gwikon-globe-alt:before, .gwikon-graph:before, .gwikon-graph-alt:before, .gwikon-group:before, .gwikon-group-alt:before, .gwikon-guidedog:before, .gwikon-hand-down:before, .gwikon-hand-left:before, .gwikon-hand-right:before, .gwikon-hand-up:before, .gwikon-hdd:before, .gwikon-headphones:before, .gwikon-hearing-impaired:before, .gwikon-heart:before, .gwikon-heart-alt:before, .gwikon-heart-empty:before, .gwikon-home:before, .gwikon-home-alt:before, .gwikon-idea:before, .gwikon-idea-alt:before, .gwikon-image:before, .gwikon-inbox:before, .gwikon-inbox-alt:before, .gwikon-inbox-box:before, .gwikon-indent-left:before, .gwikon-indent-right:before, .gwikon-info-sign:before, .gwikon-iphone-home:before, .gwikon-italic:before, .gwikon-key:before, .gwikon-laptop:before, .gwikon-laptop-alt:before, .gwikon-leaf:before, .gwikon-lines:before, .gwikon-link:before, .gwikon-link-2:before, .gwikon-list:before, .gwikon-list-alt:before, .gwikon-lock:before, .gwikon-lock-alt:before, .gwikon-magic:before, .gwikon-magnet:before, .gwikon-male:before, .gwikon-map-marker:before, .gwikon-map-marker-alt:before, .gwikon-mic:before, .gwikon-mic-alt:before, .gwikon-minus:before, .gwikon-minus-sign:before, .gwikon-move:before, .gwikon-music:before, .gwikon-network:before, .gwikon-off:before, .gwikon-ok:before, .gwikon-ok-circle:before, .gwikon-ok-sign:before, .gwikon-paper-clip:before, .gwikon-paper-clip-alt:before, .gwikon-pause:before, .gwikon-pause-alt:before, .gwikon-pencil:before, .gwikon-pencil-alt:before, .gwikon-person:before, .gwikon-phone:before, .gwikon-phone-alt:before, .gwikon-photo:before, .gwikon-photo-alt:before, .gwikon-play:before, .gwikon-play-alt:before, .gwikon-play-circle:before, .gwikon-plus:before, .gwikon-plus-sign:before, .gwikon-print:before, .gwikon-qrcode:before, .gwikon-question:before, .gwikon-question-sign:before, .gwikon-quotes:before, .gwikon-quotes-alt:before, .gwikon-random:before, .gwikon-record:before, .gwikon-refresh:before, .gwikon-remove:before, .gwikon-remove-circle:before, .gwikon-remove-sign:before, .gwikon-repeat:before, .gwikon-repeat-alt:before, .gwikon-resize-full:before, .gwikon-resize-horizontal:before, .gwikon-resize-small:before, .gwikon-resize-vertical:before, .gwikon-return-key:before, .gwikon-retweet:before, .gwikon-reverse-alt:before, .gwikon-road:before, .gwikon-rss:before, .gwikon-screen:before, .gwikon-screen-alt:before, .gwikon-screenshot:before, .gwikon-search:before, .gwikon-search-alt:before, .gwikon-share:before, .gwikon-share-alt:before, .gwikon-shopping-cart:before, .gwikon-shopping-cart-sign:before, .gwikon-signal:before, .gwikon-smiley:before, .gwikon-smiley-alt:before, .gwikon-smiley-big-smile:before, .gwikon-smiley-cry:before, .gwikon-smiley-sad:before, .gwikon-smiley-smile:before, .gwikon-smiley-squint:before, .gwikon-smiley-surprised:before, .gwikon-smiley-tongue:before, .gwikon-smiley-unsure:before, .gwikon-smiley-upset:before, .gwikon-smiley-wink:before, .gwikon-speaker:before, .gwikon-star:before, .gwikon-star-alt:before, .gwikon-star-empty:before, .gwikon-step-backward:before, .gwikon-step-forward:before, .gwikon-stop:before, .gwikon-stop-alt:before, .gwikon-tag:before, .gwikon-tags:before, .gwikon-tasks:before, .gwikon-text-height:before, .gwikon-text-width:before, .gwikon-th:before, .gwikon-th-large:before, .gwikon-th-list:before, .gwikon-thumbs-down:before, .gwikon-thumbs-up:before, .gwikon-time:before, .gwikon-time-alt:before, .gwikon-tint:before, .gwikon-torso:before, .gwikon-trash:before, .gwikon-trash-alt:before, .gwikon-universal-access:before, .gwikon-unlock:before, .gwikon-unlock-alt:before, .gwikon-upload:before, .gwikon-user:before, .gwikon-video:before, .gwikon-video-alt:before, .gwikon-video-chat:before, .gwikon-view-mode:before, .gwikon-volume-down:before, .gwikon-volume-off:before, .gwikon-volume-up:before, .gwikon-warning-sign:before, .gwikon-website:before, .gwikon-website-alt:before, .gwikon-wheelchair:before, .gwikon-wrench:before, .gwikon-wrench-alt:before, .gwikon-zoom-in:before, .gwikon-zoom-out:before {
  font-family: "Noceda Font Pro";
  speak: none;
}
.gwikon-groundwork:before {
  content: "\e000";
}
.gwikon-drupal:before {
  content: "\e129";
}
.gwikon-behance:before {
  content: "\e115";
}
.gwikon-blogger:before {
  content: "\e112";
}
.gwikon-delicious:before {
  content: "\e0e6";
}
.gwikon-deviantart:before {
  content: "\e0e5";
}
.gwikon-digg:before {
  content: "\e0e4";
}
.gwikon-dribbble:before {
  content: "\e0e1";
}
.gwikon-facebook:before {
  content: "\e0d7";
}
.gwikon-flickr:before {
  content: "\e0c7";
}
.gwikon-foursquare:before {
  content: "\e0bd";
}
.gwikon-friendfeed:before {
  content: "\e0bc";
}
.gwikon-github:before {
  content: "\e0b7";
}
.gwikon-googleplus:before {
  content: "\e0b1";
}
.gwikon-instagram:before {
  content: "\e098";
}
.gwikon-lastfm:before {
  content: "\e092";
}
.gwikon-linkedin:before {
  content: "\e08f";
}
.gwikon-myspace:before {
  content: "\e07e";
}
.gwikon-path:before {
  content: "\e076";
}
.gwikon-picasa:before {
  content: "\e06c";
}
.gwikon-pinterest:before {
  content: "\e06a";
}
.gwikon-reddit:before {
  content: "\e05c";
}
.gwikon-skype:before {
  content: "\e042";
}
.gwikon-slideshare:before {
  content: "\e041";
}
.gwikon-soundcloud:before {
  content: "\e03e";
}
.gwikon-spotify:before {
  content: "\e03c";
}
.gwikon-stackoverflow:before {
  content: "\e03b";
}
.gwikon-stumbleupon:before {
  content: "\e033";
}
.gwikon-tumblr:before {
  content: "\e024";
}
.gwikon-twitter:before {
  content: "\e023";
}
.gwikon-vimeo:before {
  content: "\e018";
}
.gwikon-vkontakte:before {
  content: "\e017";
}
.gwikon-w3c:before {
  content: "\e013";
}
.gwikon-youtube:before {
  content: "\e00b";
}
.gwikon-git:before {
  content: "\e0b6";
}
.gwikon-css:before {
  content: "\e0e8";
}
.gwikon-cc:before {
  content: "\e100";
}
.gwikon-address-book:before {
  content: "\e004";
}
.gwikon-address-book-alt:before {
  content: "\e121";
}
.gwikon-adjust:before {
  content: "\e120";
}
.gwikon-adjust-alt:before {
  content: "\e11f";
}
.gwikon-adult:before {
  content: "\e11e";
}
.gwikon-airplane:before {
  content: "\e006";
}
.gwikon-align-center:before {
  content: "\e002";
}
.gwikon-align-justify:before {
  content: "\e003";
}
.gwikon-align-left:before {
  content: "\f05c";
}
.gwikon-align-right:before {
  content: "\e001";
}
.gwikon-arrow-down:before {
  content: "\e11d";
}
.gwikon-arrow-left:before {
  content: "\e11c";
}
.gwikon-arrow-right:before {
  content: "\e11b";
}
.gwikon-arrow-up:before {
  content: "\e11a";
}
.gwikon-asl:before {
  content: "\e119";
}
.gwikon-asterisk:before {
  content: "\e005";
}
.gwikon-backward:before {
  content: "\e118";
}
.gwikon-ban-circle:before {
  content: "\e117";
}
.gwikon-barcode:before {
  content: "\e116";
}
.gwikon-basket:before {
  content: "\e126";
}
.gwikon-basket-alt:before {
  content: "\e127";
}
.gwikon-bell:before {
  content: "\e114";
}
.gwikon-blind:before {
  content: "\e113";
}
.gwikon-bold:before {
  content: "\e111";
}
.gwikon-book:before {
  content: "\e01d";
}
.gwikon-bookmark:before {
  content: "\e10f";
}
.gwikon-bookmark-empty:before {
  content: "\e0b8";
}
.gwikon-braille:before {
  content: "\e10e";
}
.gwikon-briefcase:before {
  content: "\e0fe";
}
.gwikon-broom:before {
  content: "\e10d";
}
.gwikon-brush:before {
  content: "\e10c";
}
.gwikon-bulb:before {
  content: "\e10b";
}
.gwikon-bullhorn:before {
  content: "\e109";
}
.gwikon-calendar:before {
  content: "\e108";
}
.gwikon-calendar-sign:before {
  content: "\e107";
}
.gwikon-camera:before {
  content: "\e106";
}
.gwikon-car:before {
  content: "\e105";
}
.gwikon-caret-down:before {
  content: "\e104";
}
.gwikon-caret-left:before {
  content: "\e103";
}
.gwikon-caret-right:before {
  content: "\e102";
}
.gwikon-caret-up:before {
  content: "\e101";
}
.gwikon-certificate:before {
  content: "\e0ff";
}
.gwikon-check:before {
  content: "\e0fd";
}
.gwikon-check-empty:before {
  content: "\e0fc";
}
.gwikon-chevron-down:before {
  content: "\e0fb";
}
.gwikon-chevron-left:before {
  content: "\e0fa";
}
.gwikon-chevron-right:before {
  content: "\e0f9";
}
.gwikon-chevron-up:before {
  content: "\e0f8";
}
.gwikon-child:before {
  content: "\e0f7";
}
.gwikon-circle-arrow-down:before {
  content: "\e0f6";
}
.gwikon-circle-arrow-left:before {
  content: "\e0f5";
}
.gwikon-circle-arrow-right:before {
  content: "\e0f4";
}
.gwikon-circle-arrow-up:before {
  content: "\e0f3";
}
.gwikon-cloud:before {
  content: "\e0f2";
}
.gwikon-cloud-alt:before {
  content: "\e0f1";
}
.gwikon-code:before {
  content: "\e125";
}
.gwikon-code-alt:before {
  content: "\e124";
}
.gwikon-cog:before {
  content: "\e0f0";
}
.gwikon-cog-alt:before {
  content: "\e0ef";
}
.gwikon-cogs:before {
  content: "\e0ee";
}
.gwikon-comment:before {
  content: "\e0ed";
}
.gwikon-comment-alt:before {
  content: "\e0ec";
}
.gwikon-compass:before {
  content: "\e0eb";
}
.gwikon-compass-alt:before {
  content: "\e0ea";
}
.gwikon-credit-card:before {
  content: "\e0e9";
}
.gwikon-dashboard:before {
  content: "\e0e7";
}
.gwikon-download:before {
  content: "\e0e3";
}
.gwikon-download-alt:before {
  content: "\e0e2";
}
.gwikon-edit:before {
  content: "\e0e0";
}
.gwikon-eject:before {
  content: "\e0df";
}
.gwikon-envelope:before {
  content: "\e0de";
}
.gwikon-envelope-alt:before {
  content: "\e0dd";
}
.gwikon-error:before {
  content: "\e0dc";
}
.gwikon-error-alt:before {
  content: "\e0db";
}
.gwikon-exclamation-sign:before {
  content: "\e0da";
}
.gwikon-eye-close:before {
  content: "\e0d9";
}
.gwikon-eye-open:before {
  content: "\e0d8";
}
.gwikon-facetime-video:before {
  content: "\e0d6";
}
.gwikon-fast-backward:before {
  content: "\e0d5";
}
.gwikon-fast-forward:before {
  content: "\e0d4";
}
.gwikon-female:before {
  content: "\e0d3";
}
.gwikon-file:before {
  content: "\e0d2";
}
.gwikon-file-alt:before {
  content: "\e0d1";
}
.gwikon-file-edit:before {
  content: "\e0d0";
}
.gwikon-file-edit-alt:before {
  content: "\e0cf";
}
.gwikon-file-new:before {
  content: "\e0ce";
}
.gwikon-file-new-alt:before {
  content: "\e0cd";
}
.gwikon-film:before {
  content: "\e0cc";
}
.gwikon-filter:before {
  content: "\e0cb";
}
.gwikon-fire:before {
  content: "\e0ca";
}
.gwikon-flag:before {
  content: "\e0c9";
}
.gwikon-flag-alt:before {
  content: "\e0c8";
}
.gwikon-folder:before {
  content: "\e0c6";
}
.gwikon-folder-close:before {
  content: "\e0c5";
}
.gwikon-folder-open:before {
  content: "\e0c4";
}
.gwikon-folder-sign:before {
  content: "\e0c3";
}
.gwikon-font:before {
  content: "\e0c2";
}
.gwikon-fontsize:before {
  content: "\e0c1";
}
.gwikon-fork:before {
  content: "\e0c0";
}
.gwikon-forward:before {
  content: "\e0bf";
}
.gwikon-forward-alt:before {
  content: "\e0be";
}
.gwikon-fullscreen:before {
  content: "\e0ba";
}
.gwikon-gift:before {
  content: "\e0b9";
}
.gwikon-glass:before {
  content: "\e0b5";
}
.gwikon-glasses:before {
  content: "\e0b4";
}
.gwikon-globe:before {
  content: "\e0b3";
}
.gwikon-globe-alt:before {
  content: "\e0b2";
}
.gwikon-graph:before {
  content: "\e0b0";
}
.gwikon-graph-alt:before {
  content: "\e0af";
}
.gwikon-group:before {
  content: "\e0ae";
}
.gwikon-group-alt:before {
  content: "\e0ad";
}
.gwikon-guidedog:before {
  content: "\e0ac";
}
.gwikon-hand-down:before {
  content: "\e0ab";
}
.gwikon-hand-left:before {
  content: "\e0aa";
}
.gwikon-hand-right:before {
  content: "\e0a9";
}
.gwikon-hand-up:before {
  content: "\e0a8";
}
.gwikon-hdd:before {
  content: "\e0a7";
}
.gwikon-headphones:before {
  content: "\e0a6";
}
.gwikon-hearing-impaired:before {
  content: "\e0a5";
}
.gwikon-heart:before {
  content: "\e0a4";
}
.gwikon-heart-alt:before {
  content: "\e0a3";
}
.gwikon-heart-empty:before {
  content: "\e0a2";
}
.gwikon-home:before {
  content: "\e0a1";
}
.gwikon-home-alt:before {
  content: "\e0a0";
}
.gwikon-idea:before {
  content: "\e10a";
}
.gwikon-idea-alt:before {
  content: "\e09f";
}
.gwikon-image:before {
  content: "\e06b";
}
.gwikon-inbox:before {
  content: "\e09e";
}
.gwikon-inbox-alt:before {
  content: "\e09d";
}
.gwikon-inbox-box:before {
  content: "\e09c";
}
.gwikon-indent-left:before {
  content: "\e09b";
}
.gwikon-indent-right:before {
  content: "\e09a";
}
.gwikon-info-sign:before {
  content: "\e099";
}
.gwikon-iphone-home:before {
  content: "\e097";
}
.gwikon-italic:before {
  content: "\e096";
}
.gwikon-key:before {
  content: "\e095";
}
.gwikon-laptop:before {
  content: "\e094";
}
.gwikon-laptop-alt:before {
  content: "\e093";
}
.gwikon-leaf:before {
  content: "\e091";
}
.gwikon-lines:before {
  content: "\e00e";
}
.gwikon-link:before {
  content: "\e123";
}
.gwikon-link-2:before {
  content: "\e090";
}
.gwikon-list:before {
  content: "\e08e";
}
.gwikon-list-alt:before {
  content: "\e08d";
}
.gwikon-lock:before {
  content: "\e08b";
}
.gwikon-lock-alt:before {
  content: "\e08a";
}
.gwikon-magic:before {
  content: "\e089";
}
.gwikon-magnet:before {
  content: "\e088";
}
.gwikon-male:before {
  content: "\e087";
}
.gwikon-map-marker:before {
  content: "\e086";
}
.gwikon-map-marker-alt:before {
  content: "\e085";
}
.gwikon-mic:before {
  content: "\e084";
}
.gwikon-mic-alt:before {
  content: "\e083";
}
.gwikon-minus:before {
  content: "\e082";
}
.gwikon-minus-sign:before {
  content: "\e081";
}
.gwikon-move:before {
  content: "\e080";
}
.gwikon-music:before {
  content: "\e07f";
}
.gwikon-network:before {
  content: "\e07d";
}
.gwikon-off:before {
  content: "\e07c";
}
.gwikon-ok:before {
  content: "\e07b";
}
.gwikon-ok-circle:before {
  content: "\e07a";
}
.gwikon-ok-sign:before {
  content: "\e079";
}
.gwikon-paper-clip:before {
  content: "\e078";
}
.gwikon-paper-clip-alt:before {
  content: "\e077";
}
.gwikon-pause:before {
  content: "\e075";
}
.gwikon-pause-alt:before {
  content: "\e074";
}
.gwikon-pencil:before {
  content: "\e073";
}
.gwikon-pencil-alt:before {
  content: "\e072";
}
.gwikon-person:before {
  content: "\e071";
}
.gwikon-phone:before {
  content: "\e070";
}
.gwikon-phone-alt:before {
  content: "\e06f";
}
.gwikon-photo:before {
  content: "\e06e";
}
.gwikon-photo-alt:before {
  content: "\e06d";
}
.gwikon-play:before {
  content: "\e069";
}
.gwikon-play-alt:before {
  content: "\e068";
}
.gwikon-play-circle:before {
  content: "\e067";
}
.gwikon-plus:before {
  content: "\e066";
}
.gwikon-plus-sign:before {
  content: "\e065";
}
.gwikon-print:before {
  content: "\e064";
}
.gwikon-qrcode:before {
  content: "\e063";
}
.gwikon-question:before {
  content: "\e062";
}
.gwikon-question-sign:before {
  content: "\e061";
}
.gwikon-quotes:before {
  content: "\e060";
}
.gwikon-quotes-alt:before {
  content: "\e05f";
}
.gwikon-random:before {
  content: "\e05e";
}
.gwikon-record:before {
  content: "\e05d";
}
.gwikon-refresh:before {
  content: "\e05b";
}
.gwikon-remove:before {
  content: "\e05a";
}
.gwikon-remove-circle:before {
  content: "\e059";
}
.gwikon-remove-sign:before {
  content: "\e058";
}
.gwikon-repeat:before {
  content: "\e057";
}
.gwikon-repeat-alt:before {
  content: "\e056";
}
.gwikon-resize-full:before {
  content: "\e055";
}
.gwikon-resize-horizontal:before {
  content: "\e054";
}
.gwikon-resize-small:before {
  content: "\e053";
}
.gwikon-resize-vertical:before {
  content: "\e052";
}
.gwikon-return-key:before {
  content: "\e051";
}
.gwikon-retweet:before {
  content: "\e050";
}
.gwikon-reverse-alt:before {
  content: "\e04f";
}
.gwikon-road:before {
  content: "\e04e";
}
.gwikon-rss:before {
  content: "\e04d";
}
.gwikon-screen:before {
  content: "\e04c";
}
.gwikon-screen-alt:before {
  content: "\e04b";
}
.gwikon-screenshot:before {
  content: "\e04a";
}
.gwikon-search:before {
  content: "\e049";
}
.gwikon-search-alt:before {
  content: "\e048";
}
.gwikon-share:before {
  content: "\e047";
}
.gwikon-share-alt:before {
  content: "\e046";
}
.gwikon-shopping-cart:before {
  content: "\e045";
}
.gwikon-shopping-cart-sign:before {
  content: "\e044";
}
.gwikon-signal:before {
  content: "\e043";
}
.gwikon-smiley:before {
  content: "\e040";
}
.gwikon-smiley-alt:before {
  content: "\e03f";
}
.gwikon-smiley-big-smile:before {
  content: "\e08c";
}
.gwikon-smiley-cry:before {
  content: "\e0bb";
}
.gwikon-smiley-sad:before {
  content: "\e122";
}
.gwikon-smiley-smile:before {
  content: "\e128";
}
.gwikon-smiley-squint:before {
  content: "\e12a";
}
.gwikon-smiley-surprised:before {
  content: "\e12b";
}
.gwikon-smiley-tongue:before {
  content: "\e12c";
}
.gwikon-smiley-unsure:before {
  content: "\e12d";
}
.gwikon-smiley-upset:before {
  content: "\e12e";
}
.gwikon-smiley-wink:before {
  content: "\e12f";
}
.gwikon-speaker:before {
  content: "\e03d";
}
.gwikon-star:before {
  content: "\e03a";
}
.gwikon-star-alt:before {
  content: "\e039";
}
.gwikon-star-empty:before {
  content: "\e038";
}
.gwikon-step-backward:before {
  content: "\e037";
}
.gwikon-step-forward:before {
  content: "\e036";
}
.gwikon-stop:before {
  content: "\e035";
}
.gwikon-stop-alt:before {
  content: "\e034";
}
.gwikon-tag:before {
  content: "\e007";
}
.gwikon-tags:before {
  content: "\e008";
}
.gwikon-tasks:before {
  content: "\e032";
}
.gwikon-text-height:before {
  content: "\e031";
}
.gwikon-text-width:before {
  content: "\e030";
}
.gwikon-th:before {
  content: "\e02f";
}
.gwikon-th-large:before {
  content: "\e02e";
}
.gwikon-th-list:before {
  content: "\e02d";
}
.gwikon-thumbs-down:before {
  content: "\e02b";
}
.gwikon-thumbs-up:before {
  content: "\e02c";
}
.gwikon-time:before {
  content: "\e02a";
}
.gwikon-time-alt:before {
  content: "\e029";
}
.gwikon-tint:before {
  content: "\e028";
}
.gwikon-torso:before {
  content: "\e027";
}
.gwikon-trash:before {
  content: "\e026";
}
.gwikon-trash-alt:before {
  content: "\e025";
}
.gwikon-universal-access:before {
  content: "\e022";
}
.gwikon-unlock:before {
  content: "\e021";
}
.gwikon-unlock-alt:before {
  content: "\e020";
}
.gwikon-upload:before {
  content: "\e01f";
}
.gwikon-user:before {
  content: "\e01e";
}
.gwikon-video:before {
  content: "\e01c";
}
.gwikon-video-alt:before {
  content: "\e01b";
}
.gwikon-video-chat:before {
  content: "\e01a";
}
.gwikon-view-mode:before {
  content: "\e019";
}
.gwikon-volume-down:before {
  content: "\e016";
}
.gwikon-volume-off:before {
  content: "\e015";
}
.gwikon-volume-up:before {
  content: "\e014";
}
.gwikon-warning-sign:before {
  content: "\e012";
}
.gwikon-website:before {
  content: "\e011";
}
.gwikon-website-alt:before {
  content: "\e010";
}
.gwikon-wheelchair:before {
  content: "\e00f";
}
.gwikon-wrench:before {
  content: "\e00d";
}
.gwikon-wrench-alt:before {
  content: "\e00c";
}
.gwikon-zoom-in:before {
  content: "\e00a";
}
.gwikon-zoom-out:before {
  content: "\e009";
}
@media only screen and (min-width: 768px) {
  .with-1-unit,
  .with-2-units,
  .with-3-units,
  .with-4-units,
  .with-5-units,
  .with-6-units,
  .with-7-units,
  .with-8-units,
  .with-9-units,
  .with-10-units,
  .with-11-units,
  .with-12-units,
  .with-13-units,
  .with-14-units,
  .with-15-units,
  .with-16-units,
  .with-17-units,
  .with-18-units,
  .with-19-units,
  .with-20-units,
  .with-21-units,
  .with-22-units,
  .with-23-units,
  .with-24-units {
    display: inline-block;
    /* LTR */
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
  }
  .lt-ie8 .with-1-unit,
  .lt-ie8 .with-2-units,
  .lt-ie8 .with-3-units,
  .lt-ie8 .with-4-units,
  .lt-ie8 .with-5-units,
  .lt-ie8 .with-6-units,
  .lt-ie8 .with-7-units,
  .lt-ie8 .with-8-units,
  .lt-ie8 .with-9-units,
  .lt-ie8 .with-10-units,
  .lt-ie8 .with-11-units,
  .lt-ie8 .with-12-units,
  .lt-ie8 .with-13-units,
  .lt-ie8 .with-14-units,
  .lt-ie8 .with-15-units,
  .lt-ie8 .with-16-units,
  .lt-ie8 .with-17-units,
  .lt-ie8 .with-18-units,
  .lt-ie8 .with-19-units,
  .lt-ie8 .with-20-units,
  .lt-ie8 .with-21-units,
  .lt-ie8 .with-22-units,
  .lt-ie8 .with-23-units,
  .lt-ie8 .with-24-units {
    display: inline;
    zoom: 1;
  }
  .with-1-unit {
    width: 8px;
  }
  .with-2-units {
    width: 40px;
  }
  .with-3-units {
    width: 72px;
  }
  .with-4-units {
    width: 104px;
  }
  .with-5-units {
    width: 136px;
  }
  .with-6-units {
    width: 168px;
  }
  .with-7-units {
    width: 200px;
  }
  .with-8-units {
    width: 232px;
  }
  .with-9-units {
    width: 264px;
  }
  .with-10-units {
    width: 296px;
  }
  .with-11-units {
    width: 328px;
  }
  .with-12-units {
    width: 360px;
  }
  .with-13-units {
    width: 392px;
  }
  .with-14-units {
    width: 424px;
  }
  .with-15-units {
    width: 456px;
  }
  .with-16-units {
    width: 488px;
  }
  .with-17-units {
    width: 520px;
  }
  .with-18-units {
    width: 552px;
  }
  .with-19-units {
    width: 584px;
  }
  .with-20-units {
    width: 616px;
  }
  .with-21-units {
    width: 648px;
  }
  .with-22-units {
    width: 680px;
  }
  .with-23-units {
    width: 712px;
  }
  .with-24-units {
    width: 744px;
  }
  .prefixed-by-1,
  .prefixed-by-2,
  .prefixed-by-3,
  .prefixed-by-4,
  .prefixed-by-5,
  .prefixed-by-6,
  .prefixed-by-7,
  .prefixed-by-8,
  .prefixed-by-9,
  .prefixed-by-10,
  .prefixed-by-11,
  .prefixed-by-12,
  .prefixed-by-13,
  .prefixed-by-14,
  .prefixed-by-15,
  .prefixed-by-16,
  .prefixed-by-17,
  .prefixed-by-18,
  .prefixed-by-19,
  .prefixed-by-20,
  .prefixed-by-21,
  .prefixed-by-22,
  .prefixed-by-23 {
    display: inline-block;
    /* LTR */
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
  }
  .lt-ie8 .prefixed-by-1,
  .lt-ie8 .prefixed-by-2,
  .lt-ie8 .prefixed-by-3,
  .lt-ie8 .prefixed-by-4,
  .lt-ie8 .prefixed-by-5,
  .lt-ie8 .prefixed-by-6,
  .lt-ie8 .prefixed-by-7,
  .lt-ie8 .prefixed-by-8,
  .lt-ie8 .prefixed-by-9,
  .lt-ie8 .prefixed-by-10,
  .lt-ie8 .prefixed-by-11,
  .lt-ie8 .prefixed-by-12,
  .lt-ie8 .prefixed-by-13,
  .lt-ie8 .prefixed-by-14,
  .lt-ie8 .prefixed-by-15,
  .lt-ie8 .prefixed-by-16,
  .lt-ie8 .prefixed-by-17,
  .lt-ie8 .prefixed-by-18,
  .lt-ie8 .prefixed-by-19,
  .lt-ie8 .prefixed-by-20,
  .lt-ie8 .prefixed-by-21,
  .lt-ie8 .prefixed-by-22,
  .lt-ie8 .prefixed-by-23 {
    display: inline;
    zoom: 1;
  }
  .prefixed-by-1 {
    padding-left: 32px;
  }
  .prefixed-by-2 {
    padding-left: 64px;
  }
  .prefixed-by-3 {
    padding-left: 96px;
  }
  .prefixed-by-4 {
    padding-left: 128px;
  }
  .prefixed-by-5 {
    padding-left: 160px;
  }
  .prefixed-by-6 {
    padding-left: 192px;
  }
  .prefixed-by-7 {
    padding-left: 224px;
  }
  .prefixed-by-8 {
    padding-left: 256px;
  }
  .prefixed-by-9 {
    padding-left: 288px;
  }
  .prefixed-by-10 {
    padding-left: 320px;
  }
  .prefixed-by-11 {
    padding-left: 352px;
  }
  .prefixed-by-12 {
    padding-left: 384px;
  }
  .prefixed-by-13 {
    padding-left: 416px;
  }
  .prefixed-by-14 {
    padding-left: 448px;
  }
  .prefixed-by-15 {
    padding-left: 480px;
  }
  .prefixed-by-16 {
    padding-left: 512px;
  }
  .prefixed-by-17 {
    padding-left: 544px;
  }
  .prefixed-by-18 {
    padding-left: 576px;
  }
  .prefixed-by-19 {
    padding-left: 608px;
  }
  .prefixed-by-20 {
    padding-left: 640px;
  }
  .prefixed-by-21 {
    padding-left: 672px;
  }
  .prefixed-by-22 {
    padding-left: 704px;
  }
  .prefixed-by-23 {
    padding-left: 736px;
  }
  .suffixed-by-1,
  .suffixed-by-2,
  .suffixed-by-3,
  .suffixed-by-4,
  .suffixed-by-5,
  .suffixed-by-6,
  .suffixed-by-7,
  .suffixed-by-8,
  .suffixed-by-9,
  .suffixed-by-10,
  .suffixed-by-11,
  .suffixed-by-12,
  .suffixed-by-13,
  .suffixed-by-14,
  .suffixed-by-15,
  .suffixed-by-16,
  .suffixed-by-17,
  .suffixed-by-18,
  .suffixed-by-19,
  .suffixed-by-20,
  .suffixed-by-21,
  .suffixed-by-22,
  .suffixed-by-23 {
    display: inline-block;
    /* LTR */
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
  }
  .lt-ie8 .suffixed-by-1,
  .lt-ie8 .suffixed-by-2,
  .lt-ie8 .suffixed-by-3,
  .lt-ie8 .suffixed-by-4,
  .lt-ie8 .suffixed-by-5,
  .lt-ie8 .suffixed-by-6,
  .lt-ie8 .suffixed-by-7,
  .lt-ie8 .suffixed-by-8,
  .lt-ie8 .suffixed-by-9,
  .lt-ie8 .suffixed-by-10,
  .lt-ie8 .suffixed-by-11,
  .lt-ie8 .suffixed-by-12,
  .lt-ie8 .suffixed-by-13,
  .lt-ie8 .suffixed-by-14,
  .lt-ie8 .suffixed-by-15,
  .lt-ie8 .suffixed-by-16,
  .lt-ie8 .suffixed-by-17,
  .lt-ie8 .suffixed-by-18,
  .lt-ie8 .suffixed-by-19,
  .lt-ie8 .suffixed-by-20,
  .lt-ie8 .suffixed-by-21,
  .lt-ie8 .suffixed-by-22,
  .lt-ie8 .suffixed-by-23 {
    display: inline;
    zoom: 1;
  }
  .suffixed-by-1 {
    padding-right: 32px;
  }
  .suffixed-by-2 {
    padding-right: 64px;
  }
  .suffixed-by-3 {
    padding-right: 96px;
  }
  .suffixed-by-4 {
    padding-right: 128px;
  }
  .suffixed-by-5 {
    padding-right: 160px;
  }
  .suffixed-by-6 {
    padding-right: 192px;
  }
  .suffixed-by-7 {
    padding-right: 224px;
  }
  .suffixed-by-8 {
    padding-right: 256px;
  }
  .suffixed-by-9 {
    padding-right: 288px;
  }
  .suffixed-by-10 {
    padding-right: 320px;
  }
  .suffixed-by-11 {
    padding-right: 352px;
  }
  .suffixed-by-12 {
    padding-right: 384px;
  }
  .suffixed-by-13 {
    padding-right: 416px;
  }
  .suffixed-by-14 {
    padding-right: 448px;
  }
  .suffixed-by-15 {
    padding-right: 480px;
  }
  .suffixed-by-16 {
    padding-right: 512px;
  }
  .suffixed-by-17 {
    padding-right: 544px;
  }
  .suffixed-by-18 {
    padding-right: 576px;
  }
  .suffixed-by-19 {
    padding-right: 608px;
  }
  .suffixed-by-20 {
    padding-right: 640px;
  }
  .suffixed-by-21 {
    padding-right: 672px;
  }
  .suffixed-by-22 {
    padding-right: 704px;
  }
  .suffixed-by-23 {
    padding-right: 736px;
  }
  .pushed-by-1,
  .pushed-by-2,
  .pushed-by-3,
  .pushed-by-4,
  .pushed-by-5,
  .pushed-by-6,
  .pushed-by-7,
  .pushed-by-8,
  .pushed-by-9,
  .pushed-by-10,
  .pushed-by-11,
  .pushed-by-12,
  .pushed-by-13,
  .pushed-by-14,
  .pushed-by-15,
  .pushed-by-16,
  .pushed-by-17,
  .pushed-by-18,
  .pushed-by-19,
  .pushed-by-20,
  .pushed-by-21,
  .pushed-by-22,
  .pushed-by-23 {
    display: inline-block;
    /* LTR */
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
  }
  .lt-ie8 .pushed-by-1,
  .lt-ie8 .pushed-by-2,
  .lt-ie8 .pushed-by-3,
  .lt-ie8 .pushed-by-4,
  .lt-ie8 .pushed-by-5,
  .lt-ie8 .pushed-by-6,
  .lt-ie8 .pushed-by-7,
  .lt-ie8 .pushed-by-8,
  .lt-ie8 .pushed-by-9,
  .lt-ie8 .pushed-by-10,
  .lt-ie8 .pushed-by-11,
  .lt-ie8 .pushed-by-12,
  .lt-ie8 .pushed-by-13,
  .lt-ie8 .pushed-by-14,
  .lt-ie8 .pushed-by-15,
  .lt-ie8 .pushed-by-16,
  .lt-ie8 .pushed-by-17,
  .lt-ie8 .pushed-by-18,
  .lt-ie8 .pushed-by-19,
  .lt-ie8 .pushed-by-20,
  .lt-ie8 .pushed-by-21,
  .lt-ie8 .pushed-by-22,
  .lt-ie8 .pushed-by-23 {
    display: inline;
    zoom: 1;
  }
  .pushed-by-1 {
    left: 32px;
  }
  .pushed-by-2 {
    left: 64px;
  }
  .pushed-by-3 {
    left: 96px;
  }
  .pushed-by-4 {
    left: 128px;
  }
  .pushed-by-5 {
    left: 160px;
  }
  .pushed-by-6 {
    left: 192px;
  }
  .pushed-by-7 {
    left: 224px;
  }
  .pushed-by-8 {
    left: 256px;
  }
  .pushed-by-9 {
    left: 288px;
  }
  .pushed-by-10 {
    left: 320px;
  }
  .pushed-by-11 {
    left: 352px;
  }
  .pushed-by-12 {
    left: 384px;
  }
  .pushed-by-13 {
    left: 416px;
  }
  .pushed-by-14 {
    left: 448px;
  }
  .pushed-by-15 {
    left: 480px;
  }
  .pushed-by-16 {
    left: 512px;
  }
  .pushed-by-17 {
    left: 544px;
  }
  .pushed-by-18 {
    left: 576px;
  }
  .pushed-by-19 {
    left: 608px;
  }
  .pushed-by-20 {
    left: 640px;
  }
  .pushed-by-21 {
    left: 672px;
  }
  .pushed-by-22 {
    left: 704px;
  }
  .pushed-by-23 {
    left: 736px;
  }
  .pulled-by-1,
  .pulled-by-2,
  .pulled-by-3,
  .pulled-by-4,
  .pulled-by-5,
  .pulled-by-6,
  .pulled-by-7,
  .pulled-by-8,
  .pulled-by-9,
  .pulled-by-10,
  .pulled-by-11,
  .pulled-by-12,
  .pulled-by-13,
  .pulled-by-14,
  .pulled-by-15,
  .pulled-by-16,
  .pulled-by-17,
  .pulled-by-18,
  .pulled-by-19,
  .pulled-by-20,
  .pulled-by-21,
  .pulled-by-22,
  .pulled-by-23 {
    display: inline-block;
    /* LTR */
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
  }
  .lt-ie8 .pulled-by-1,
  .lt-ie8 .pulled-by-2,
  .lt-ie8 .pulled-by-3,
  .lt-ie8 .pulled-by-4,
  .lt-ie8 .pulled-by-5,
  .lt-ie8 .pulled-by-6,
  .lt-ie8 .pulled-by-7,
  .lt-ie8 .pulled-by-8,
  .lt-ie8 .pulled-by-9,
  .lt-ie8 .pulled-by-10,
  .lt-ie8 .pulled-by-11,
  .lt-ie8 .pulled-by-12,
  .lt-ie8 .pulled-by-13,
  .lt-ie8 .pulled-by-14,
  .lt-ie8 .pulled-by-15,
  .lt-ie8 .pulled-by-16,
  .lt-ie8 .pulled-by-17,
  .lt-ie8 .pulled-by-18,
  .lt-ie8 .pulled-by-19,
  .lt-ie8 .pulled-by-20,
  .lt-ie8 .pulled-by-21,
  .lt-ie8 .pulled-by-22,
  .lt-ie8 .pulled-by-23 {
    display: inline;
    zoom: 1;
  }
  .pulled-by-1 {
    right: 32px;
  }
  .pulled-by-2 {
    right: 64px;
  }
  .pulled-by-3 {
    right: 96px;
  }
  .pulled-by-4 {
    right: 128px;
  }
  .pulled-by-5 {
    right: 160px;
  }
  .pulled-by-6 {
    right: 192px;
  }
  .pulled-by-7 {
    right: 224px;
  }
  .pulled-by-8 {
    right: 256px;
  }
  .pulled-by-9 {
    right: 288px;
  }
  .pulled-by-10 {
    right: 320px;
  }
  .pulled-by-11 {
    right: 352px;
  }
  .pulled-by-12 {
    right: 384px;
  }
  .pulled-by-13 {
    right: 416px;
  }
  .pulled-by-14 {
    right: 448px;
  }
  .pulled-by-15 {
    right: 480px;
  }
  .pulled-by-16 {
    right: 512px;
  }
  .pulled-by-17 {
    right: 544px;
  }
  .pulled-by-18 {
    right: 576px;
  }
  .pulled-by-19 {
    right: 608px;
  }
  .pulled-by-20 {
    right: 640px;
  }
  .pulled-by-21 {
    right: 672px;
  }
  .pulled-by-22 {
    right: 704px;
  }
  .pulled-by-23 {
    right: 736px;
  }
}
@media only screen and (min-width: 960px) {
  .with-1-unit {
    width: 16px;
  }
  .with-2-units {
    width: 56px;
  }
  .with-3-units {
    width: 96px;
  }
  .with-4-units {
    width: 136px;
  }
  .with-5-units {
    width: 176px;
  }
  .with-6-units {
    width: 216px;
  }
  .with-7-units {
    width: 256px;
  }
  .with-8-units {
    width: 296px;
  }
  .with-9-units {
    width: 336px;
  }
  .with-10-units {
    width: 376px;
  }
  .with-11-units {
    width: 416px;
  }
  .with-12-units {
    width: 456px;
  }
  .with-13-units {
    width: 496px;
  }
  .with-14-units {
    width: 536px;
  }
  .with-15-units {
    width: 576px;
  }
  .with-16-units {
    width: 616px;
  }
  .with-17-units {
    width: 656px;
  }
  .with-18-units {
    width: 696px;
  }
  .with-19-units {
    width: 736px;
  }
  .with-20-units {
    width: 776px;
  }
  .with-21-units {
    width: 816px;
  }
  .with-22-units {
    width: 856px;
  }
  .with-23-units {
    width: 896px;
  }
  .with-24-units {
    width: 936px;
  }
  .prefixed-by-1 {
    padding-left: 40px;
  }
  .prefixed-by-2 {
    padding-left: 80px;
  }
  .prefixed-by-3 {
    padding-left: 120px;
  }
  .prefixed-by-4 {
    padding-left: 160px;
  }
  .prefixed-by-5 {
    padding-left: 200px;
  }
  .prefixed-by-6 {
    padding-left: 240px;
  }
  .prefixed-by-7 {
    padding-left: 280px;
  }
  .prefixed-by-8 {
    padding-left: 320px;
  }
  .prefixed-by-9 {
    padding-left: 360px;
  }
  .prefixed-by-10 {
    padding-left: 400px;
  }
  .prefixed-by-11 {
    padding-left: 440px;
  }
  .prefixed-by-12 {
    padding-left: 480px;
  }
  .prefixed-by-13 {
    padding-left: 520px;
  }
  .prefixed-by-14 {
    padding-left: 560px;
  }
  .prefixed-by-15 {
    padding-left: 600px;
  }
  .prefixed-by-16 {
    padding-left: 640px;
  }
  .prefixed-by-17 {
    padding-left: 680px;
  }
  .prefixed-by-18 {
    padding-left: 720px;
  }
  .prefixed-by-19 {
    padding-left: 760px;
  }
  .prefixed-by-20 {
    padding-left: 800px;
  }
  .prefixed-by-21 {
    padding-left: 840px;
  }
  .prefixed-by-22 {
    padding-left: 880px;
  }
  .prefixed-by-23 {
    padding-left: 920px;
  }
  .suffixed-by-1 {
    padding-right: 40px;
  }
  .suffixed-by-2 {
    padding-right: 80px;
  }
  .suffixed-by-3 {
    padding-right: 120px;
  }
  .suffixed-by-4 {
    padding-right: 160px;
  }
  .suffixed-by-5 {
    padding-right: 200px;
  }
  .suffixed-by-6 {
    padding-right: 240px;
  }
  .suffixed-by-7 {
    padding-right: 280px;
  }
  .suffixed-by-8 {
    padding-right: 320px;
  }
  .suffixed-by-9 {
    padding-right: 360px;
  }
  .suffixed-by-10 {
    padding-right: 400px;
  }
  .suffixed-by-11 {
    padding-right: 440px;
  }
  .suffixed-by-12 {
    padding-right: 480px;
  }
  .suffixed-by-13 {
    padding-right: 520px;
  }
  .suffixed-by-14 {
    padding-right: 560px;
  }
  .suffixed-by-15 {
    padding-right: 600px;
  }
  .suffixed-by-16 {
    padding-right: 640px;
  }
  .suffixed-by-17 {
    padding-right: 680px;
  }
  .suffixed-by-18 {
    padding-right: 720px;
  }
  .suffixed-by-19 {
    padding-right: 760px;
  }
  .suffixed-by-20 {
    padding-right: 800px;
  }
  .suffixed-by-21 {
    padding-right: 840px;
  }
  .suffixed-by-22 {
    padding-right: 880px;
  }
  .suffixed-by-23 {
    padding-right: 920px;
  }
  .pushed-by-1 {
    left: 40px;
  }
  .pushed-by-2 {
    left: 80px;
  }
  .pushed-by-3 {
    left: 120px;
  }
  .pushed-by-4 {
    left: 160px;
  }
  .pushed-by-5 {
    left: 200px;
  }
  .pushed-by-6 {
    left: 240px;
  }
  .pushed-by-7 {
    left: 280px;
  }
  .pushed-by-8 {
    left: 320px;
  }
  .pushed-by-9 {
    left: 360px;
  }
  .pushed-by-10 {
    left: 400px;
  }
  .pushed-by-11 {
    left: 440px;
  }
  .pushed-by-12 {
    left: 480px;
  }
  .pushed-by-13 {
    left: 520px;
  }
  .pushed-by-14 {
    left: 560px;
  }
  .pushed-by-15 {
    left: 600px;
  }
  .pushed-by-16 {
    left: 640px;
  }
  .pushed-by-17 {
    left: 680px;
  }
  .pushed-by-18 {
    left: 720px;
  }
  .pushed-by-19 {
    left: 760px;
  }
  .pushed-by-20 {
    left: 800px;
  }
  .pushed-by-21 {
    left: 840px;
  }
  .pushed-by-22 {
    left: 880px;
  }
  .pushed-by-23 {
    left: 920px;
  }
  .pulled-by-1 {
    right: 40px;
  }
  .pulled-by-2 {
    right: 80px;
  }
  .pulled-by-3 {
    right: 120px;
  }
  .pulled-by-4 {
    right: 160px;
  }
  .pulled-by-5 {
    right: 200px;
  }
  .pulled-by-6 {
    right: 240px;
  }
  .pulled-by-7 {
    right: 280px;
  }
  .pulled-by-8 {
    right: 320px;
  }
  .pulled-by-9 {
    right: 360px;
  }
  .pulled-by-10 {
    right: 400px;
  }
  .pulled-by-11 {
    right: 440px;
  }
  .pulled-by-12 {
    right: 480px;
  }
  .pulled-by-13 {
    right: 520px;
  }
  .pulled-by-14 {
    right: 560px;
  }
  .pulled-by-15 {
    right: 600px;
  }
  .pulled-by-16 {
    right: 640px;
  }
  .pulled-by-17 {
    right: 680px;
  }
  .pulled-by-18 {
    right: 720px;
  }
  .pulled-by-19 {
    right: 760px;
  }
  .pulled-by-20 {
    right: 800px;
  }
  .pulled-by-21 {
    right: 840px;
  }
  .pulled-by-22 {
    right: 880px;
  }
  .pulled-by-23 {
    right: 920px;
  }
}
@media only screen and (min-width: 1152px) {
  .with-1-unit {
    width: 24px;
  }
  .with-2-units {
    width: 72px;
  }
  .with-3-units {
    width: 120px;
  }
  .with-4-units {
    width: 168px;
  }
  .with-5-units {
    width: 216px;
  }
  .with-6-units {
    width: 264px;
  }
  .with-7-units {
    width: 312px;
  }
  .with-8-units {
    width: 360px;
  }
  .with-9-units {
    width: 408px;
  }
  .with-10-units {
    width: 456px;
  }
  .with-11-units {
    width: 504px;
  }
  .with-12-units {
    width: 552px;
  }
  .with-13-units {
    width: 600px;
  }
  .with-14-units {
    width: 648px;
  }
  .with-15-units {
    width: 696px;
  }
  .with-16-units {
    width: 744px;
  }
  .with-17-units {
    width: 792px;
  }
  .with-18-units {
    width: 840px;
  }
  .with-19-units {
    width: 888px;
  }
  .with-20-units {
    width: 936px;
  }
  .with-21-units {
    width: 984px;
  }
  .with-22-units {
    width: 1032px;
  }
  .with-23-units {
    width: 1080px;
  }
  .with-24-units {
    width: 1128px;
  }
  .prefixed-by-1 {
    padding-left: 48px;
  }
  .prefixed-by-2 {
    padding-left: 96px;
  }
  .prefixed-by-3 {
    padding-left: 144px;
  }
  .prefixed-by-4 {
    padding-left: 192px;
  }
  .prefixed-by-5 {
    padding-left: 240px;
  }
  .prefixed-by-6 {
    padding-left: 288px;
  }
  .prefixed-by-7 {
    padding-left: 336px;
  }
  .prefixed-by-8 {
    padding-left: 384px;
  }
  .prefixed-by-9 {
    padding-left: 432px;
  }
  .prefixed-by-10 {
    padding-left: 480px;
  }
  .prefixed-by-11 {
    padding-left: 528px;
  }
  .prefixed-by-12 {
    padding-left: 576px;
  }
  .prefixed-by-13 {
    padding-left: 624px;
  }
  .prefixed-by-14 {
    padding-left: 672px;
  }
  .prefixed-by-15 {
    padding-left: 720px;
  }
  .prefixed-by-16 {
    padding-left: 768px;
  }
  .prefixed-by-17 {
    padding-left: 816px;
  }
  .prefixed-by-18 {
    padding-left: 864px;
  }
  .prefixed-by-19 {
    padding-left: 912px;
  }
  .prefixed-by-20 {
    padding-left: 960px;
  }
  .prefixed-by-21 {
    padding-left: 1008px;
  }
  .prefixed-by-22 {
    padding-left: 1056px;
  }
  .prefixed-by-23 {
    padding-left: 1104px;
  }
  .suffixed-by-1 {
    padding-right: 48px;
  }
  .suffixed-by-2 {
    padding-right: 96px;
  }
  .suffixed-by-3 {
    padding-right: 144px;
  }
  .suffixed-by-4 {
    padding-right: 192px;
  }
  .suffixed-by-5 {
    padding-right: 240px;
  }
  .suffixed-by-6 {
    padding-right: 288px;
  }
  .suffixed-by-7 {
    padding-right: 336px;
  }
  .suffixed-by-8 {
    padding-right: 384px;
  }
  .suffixed-by-9 {
    padding-right: 432px;
  }
  .suffixed-by-10 {
    padding-right: 480px;
  }
  .suffixed-by-11 {
    padding-right: 528px;
  }
  .suffixed-by-12 {
    padding-right: 576px;
  }
  .suffixed-by-13 {
    padding-right: 624px;
  }
  .suffixed-by-14 {
    padding-right: 672px;
  }
  .suffixed-by-15 {
    padding-right: 720px;
  }
  .suffixed-by-16 {
    padding-right: 768px;
  }
  .suffixed-by-17 {
    padding-right: 816px;
  }
  .suffixed-by-18 {
    padding-right: 864px;
  }
  .suffixed-by-19 {
    padding-right: 912px;
  }
  .suffixed-by-20 {
    padding-right: 960px;
  }
  .suffixed-by-21 {
    padding-right: 1008px;
  }
  .suffixed-by-22 {
    padding-right: 1056px;
  }
  .suffixed-by-23 {
    padding-right: 1104px;
  }
  .pushed-by-1 {
    left: 48px;
  }
  .pushed-by-2 {
    left: 96px;
  }
  .pushed-by-3 {
    left: 144px;
  }
  .pushed-by-4 {
    left: 192px;
  }
  .pushed-by-5 {
    left: 240px;
  }
  .pushed-by-6 {
    left: 288px;
  }
  .pushed-by-7 {
    left: 336px;
  }
  .pushed-by-8 {
    left: 384px;
  }
  .pushed-by-9 {
    left: 432px;
  }
  .pushed-by-10 {
    left: 480px;
  }
  .pushed-by-11 {
    left: 528px;
  }
  .pushed-by-12 {
    left: 576px;
  }
  .pushed-by-13 {
    left: 624px;
  }
  .pushed-by-14 {
    left: 672px;
  }
  .pushed-by-15 {
    left: 720px;
  }
  .pushed-by-16 {
    left: 768px;
  }
  .pushed-by-17 {
    left: 816px;
  }
  .pushed-by-18 {
    left: 864px;
  }
  .pushed-by-19 {
    left: 912px;
  }
  .pushed-by-20 {
    left: 960px;
  }
  .pushed-by-21 {
    left: 1008px;
  }
  .pushed-by-22 {
    left: 1056px;
  }
  .pushed-by-23 {
    left: 1104px;
  }
  .pulled-by-1 {
    right: 48px;
  }
  .pulled-by-2 {
    right: 96px;
  }
  .pulled-by-3 {
    right: 144px;
  }
  .pulled-by-4 {
    right: 192px;
  }
  .pulled-by-5 {
    right: 240px;
  }
  .pulled-by-6 {
    right: 288px;
  }
  .pulled-by-7 {
    right: 336px;
  }
  .pulled-by-8 {
    right: 384px;
  }
  .pulled-by-9 {
    right: 432px;
  }
  .pulled-by-10 {
    right: 480px;
  }
  .pulled-by-11 {
    right: 528px;
  }
  .pulled-by-12 {
    right: 576px;
  }
  .pulled-by-13 {
    right: 624px;
  }
  .pulled-by-14 {
    right: 672px;
  }
  .pulled-by-15 {
    right: 720px;
  }
  .pulled-by-16 {
    right: 768px;
  }
  .pulled-by-17 {
    right: 816px;
  }
  .pulled-by-18 {
    right: 864px;
  }
  .pulled-by-19 {
    right: 912px;
  }
  .pulled-by-20 {
    right: 960px;
  }
  .pulled-by-21 {
    right: 1008px;
  }
  .pulled-by-22 {
    right: 1056px;
  }
  .pulled-by-23 {
    right: 1104px;
  }
}
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
