// Custom style declarations for media with narrow width and wider.
.block {
  #topbar & {
    margin-bottom: 0;
  }
  #header-annex & {
    text-align: left;
  }
}

#block-system-user-menu {
  #topbar & {
    text-align: left;
  }
}
