// For styles applied to all media regardless of width, which can be overriden for other media.

body {
  background: darken(@colorBaseDark, 30%);
}

#page {
  background: @bodyColor;
}

h3 {
  border-bottom: 1px dotted darken(@bodyColor, 66.66%);
}

fieldset {
  border: 1px solid darken(@bodyColor, 20%);
}

thead th {
  background: darken(@bodyColor, 4%);
  border-bottom: 1px solid darken(@bodyColor, 20%);
  border-top: darken(@bodyColor, 20%);
}

tr.odd {
  background: lighten(@bodyColor, 10%);
}

tr.even {
  background: lighten(@bodyColor, 5%);
}

.sticky-header th, .sticky-table th {
  border-bottom: @size4 solid lighten(@colorBase, 40%);
}

abbr[title] {
  border-bottom: 1px dotted lighten(@textColor, 50%);
}

blockquote {
  color: lighten(@textColor, 20%);
  border-left: @size4 solid lighten(@textColor, 20%);
}

hr {
  background: @textColor;
}

mark {
  background: lighten(@colorBase, 50%);
  color: darken(@colorBase, 100%);
}

// buttons
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
button,
input.form-submit,
a.button {
  .button();
  margin-right: @size3;
  text-transform: uppercase;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  .vertical-gradient(@colorWhite, lighten(@colorBase, 25%));
  color: darken(@colorWhite, 100%);
}

#page {}

.wrapper {} // Target all full-width wrappers. To use, see groundwork/resources/templates/README.txt.
#topbar-wrapper {
  background: @colorBaseDark;
}
#header-wrapper {
  background: @colorBase;
  border-top: @size4 dashed lighten(@bodyColor, 4%);
  border-bottom: @size4 dashed lighten(@bodyColor, 4%);
}
#navigation-wrapper {
  border-top: @size2 solid @colorBaseDark;
}
#billboard-wrapper {}
#placard-wrapper {}
#main-wrapper {}
#supplement-wrapper {}
#appendix-wrapper {}
#rider-wrapper {
  background: @colorBase;
  border-top: @size4 dashed lighten(@bodyColor, 4%);
}

#footer-wrapper,
#secondary-menu-wrapper,
#theme-attribution-wrapper {
  background: darken(@colorBaseDark, 30%);
}

#footer-wrapper {
  border-top: @size4 dashed @colorBaseDark;
}

#header {}

.region {} // Target all regions/sections.
#topbar {}
#navigation {}
#billboard{}
#placard {}
#highlighted{}
#help{}
#sidebar-first {}
#sidebar-second {}
#supplement {}
#appendix {}
#rider,
#footer {
  padding-top: @size2;
}

nav#secondary-menu,
#theme-attribution {
  color: @colorGrey;
  a {
    color: @bodyColor;
    &:hover {
      color: @colorWhite;
    }
  }
}

#main-container {
  background: @colorWhite;
  .border-radius(@size2);
  .border-shadow(@size3, @colorBaseDark);
  margin-bottom: @size1;
  padding-top:@size2;
}

#main {
  margin-left: @size2;
  margin-right: @size2;
}

#branding {
  margin-bottom: 0;
  padding: @size1 0;
}


#header-annex {
  padding-top: @size1;
}

#site-name {
  a {
    color: @colorWhite;
  }
}

// NAVIGATION LINKS
ul.menu {
  #main-menu &,
  #navigation & {
    a {
      padding-top: @size3;
      padding-bottom: @size3;
    }
  }
}

// SEARCH
.search-results  {
  .search-url {
    color: @colorGreen;
  }
    .search-info {
      color: darken(@colorGreen, 50%);
    }
}

// VERTICAL TABS
.vertical-tab-button-error a {
  border: 1px solid @colorRed;
}

// BLOCKS
.block {
  .padding();
  h2.block-title {
    .gwikon-heart();
    &:before {
      color: @colorBaseDark;
      padding-right: @size3;
    }
  }
  #topbar & {
    color: darken(@colorGrey, 50%);
    padding: 0;
  }
  #header-annex & {
    text-align: center;
  }
  #header-annex &,
  #billboard &,
  #sidebar-first &,
  #supplement &,
  #appendix &,
  &.block-region-highlighted {
    background: @colorBaseLight;
    .border-radius(@size2);
    .border-shadow(@size3, @colorBase);
  }
  #billboard &,
  &.block-region-highlighted,
  #supplement & {
    border: @size4 dashed @colorBase;
  }
  #sidebar-second & {
    padding-left: 0;
    padding-right: 0;
    .font-size(@msSmaller1);
    h2.block-title {
      .font-size(@msBase);
      font-weight: bold;
    }
  }
  #rider & {
    h2.block-title {
    &:before {
      color: darken(@colorBaseDark, 30%);
    }
  }
  }
  #topbar &,
  #rider &,
  #footer & {
    a {
      color: @bodyColor;
      &:hover {
        color: @colorWhite;
      }
    }
  }
  #footer & {
    color: @colorGrey;
    .font-size(12);
    h2.block-title {
      .font-size();
    }
  }
  #node-aside & {
    border-bottom: @size4 dashed @colorBase;
    border-top: @size4 dashed @colorBase;
    .border-radius(@size2);
    h2.block-title {
      .font-size(@msBase);
      font-weight: bold;
    }
  }
}

#block-system-main {
  background: transparent;
  margin-bottom: 0;
}

#block-user-login {
  label {
    font-weight: 500;
  }
  .form-item-name input {
      background: url("../images/login-sprite.png") no-repeat 0 0 @colorWhite;
      padding-left: 20px;
    }
  .form-item-pass input {
    background: url("../images/login-sprite.png") no-repeat 0 -24px @colorWhite;
    padding-left: 20px;
  }
  .item-list ul li {
    list-style-position: inside;
  }
  #topbar & {
    .horizontal-login-block();
  }
}

#block-system-user-menu {
  #topbar & {
      text-align: center;
  }
}

// Search Block
#search-block-form {
  .form-submit {
    font-family: "Noceda Font Pro";
  }
  input[type="search"] {
    width: 70%;
  }
}

// Demo Site
.no-h-padding {
  padding-left: 0;
  padding-right: 0;
}